

<!-- /.menu_side_wrap -->
			<div class="menu_mobile_overlay"></div>
			<div class="menu_mobile scheme_dark">
				<div class="menu_mobile_inner">
					<a class="menu_mobile_close icon-cancel"></a>
					<a class="logo" href="#"><img src="../public/img/logo.png" class="logo_main" alt="" width="197" height="70"></a>
					<nav class="menu_mobile_nav_area">
						<ul id="menu_mobile" class="menu_mobile_nav">
							<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="/"><span>Home</span></a>
								{{!-- <ul class="sub-menu">
									<li class="menu-item current-menu-item page-item-137"><a href="index.html"><span>Home 1</span></a></li> --}}
									{{!-- <li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
									<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li> --}}
								{{!-- </ul> --}}
							</li>
							<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="chest"><span>Chest</span></a></li>
									<li class="menu-item"><a href="back"><span>Back</span></a></li>
									<li class="menu-item"><a href="cardio"><span>Cardio</span></a></li>
								</ul>
							</li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
											<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
											<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
													<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
													<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
												</ul>
											</li>
											<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
											<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
											<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
											<li class="menu-item"><a href="contacts/index.html"><span>Contacts</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
									<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
									<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
						</ul>
					</nav>
					<div class="search_mobile">
						<div class="search_form_wrap">
							<form role="search" method="get" class="search_form" action="#">
								<input type="text" class="search_field" placeholder="Search ..." value="" name="s">
								<button type="submit" class="search_submit icon-search" title="Start search"></button>
							</form>
						</div>
					</div>
					<div class="socials_mobile"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
						</span>
					</div>
				</div>
			</div>
