<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
<head>
	<title>Steven Watkins Gym Coach &#038; Personal Trainer</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700%7COpen+Sans:300,400,600,700,800%7CRaleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel='stylesheet' id='sb_instagram_icons-css' href='css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc-css' href='js/vendor/plugins/trx_addons/shortcodes/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-icons-css' href='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='swiperslider-css' href='js/vendor/plugins/trx_addons/js/swiper/swiper.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='magnific-popup-css' href='js/vendor/plugins/trx_addons/js/magnific/magnific-popup.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href='js/vendor/plugins/trx_addons/css/trx_addons.front.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-hovers-css' href='js/vendor/plugins/trx_addons/css/trx_addons.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_slider-css' href='js/vendor/plugins/trx_addons/widgets/slider/slider.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_socials-css' href='js/vendor/plugins/trx_addons/widgets/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_content-css' href='js/vendor/plugins/trx_addons/shortcodes/content/content.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_icons-css' href='js/vendor/plugins/trx_addons/shortcodes/icons/icons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_socials-css' href='js/vendor/plugins/trx_addons/shortcodes/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-metropolis-css' href='css/font-face/metropolis/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-rajdhani-css' href='css/font-face/rajdhani/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-fontello-css' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-main-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-global-css' href='css/global.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-animation-css' href='css/animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-hovers-css' href='js/vendor/includes/theme.hovers/theme.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-trx_addons-css' href='js/vendor/plugins/trx_addons/trx_addons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-responsive-css' href='css/responsive.css' type='text/css' media='all' />
</head>
<body class="blog blog_mode_blog body_tag body_style_wide scheme_default  is_stream blog_style_excerpt sidebar_show sidebar_right header_style_header-1 header_position_default header_title_on menu_style_top no_layout">
	<div class="body_wrap">
		<div class="page_wrap">
			<header class="top_panel top_panel_style_1 with_bg_image stevenwatkins_inline_0 scheme_default">
				<a class="menu_mobile_button icon-menu-2"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi with_bg_image scheme_default">
					<div class="menu_main_wrap clearfix menu_hover_fade">
						<div class="content_wrap">
							<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
							<nav class="menu_main_nav_area">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
											<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
											<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
											<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
											<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
													<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
													<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
													<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
														<ul class="sub-menu">
															<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
															<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
															<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
														</ul>
													</li>
													<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
													<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
													<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
													<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
									<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Blog</span></a>
										<ul class="sub-menu">
											<li class="menu-item current-menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
											<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
											<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
								</ul>
							</nav>
							<div class="search_wrap search_style_expand search_ajax">
								<div class="search_form_wrap">
									<form role="search" method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Search" value="" name="s">
										<button type="submit" class="search_submit icon-search"></button>
									</form>
								</div>
								<div class="search_results widget_area">
									<a href="#" class="search_results_close icon-cancel"></a>
									<div class="search_results_content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.top_panel_navi -->
				<div class="top_panel_title_wrap">
					<div class="content_wrap">
						<div class="top_panel_title">
							<div class="page_title">
								<h1 class="page_caption">All Posts</h1>
							</div>
							<div class="breadcrumbs"><a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">All Posts</span></div>
						</div>
					</div>
				</div>
			</header>
			<div class="menu_mobile_overlay"></div>
			<div class="menu_mobile scheme_dark">
				<div class="menu_mobile_inner">
					<a class="menu_mobile_close icon-cancel"></a>
					<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
					<nav class="menu_mobile_nav_area">
						<ul id="menu_mobile" class="menu_mobile_nav">
							<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
									<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
									<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
									<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
									<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
								</ul>
							</li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
											<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
											<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
													<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
													<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
												</ul>
											</li>
											<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
											<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
											<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
											<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
							<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Blog</span></a>
								<ul class="sub-menu">
									<li class="menu-item current-menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
									<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
									<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
						</ul>
					</nav>
					<div class="search_mobile">
						<div class="search_form_wrap">
							<form role="search" method="get" class="search_form" action="#">
								<input type="text" class="search_field" placeholder="Search ..." value="" name="s">
								<button type="submit" class="search_submit icon-search" title="Start search"></button>
							</form>
						</div>
					</div>
					<div class="socials_mobile"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
						</span>
					</div>
				</div>
			</div>
			<div class="page_content_wrap scheme_default">
				<div class="content_wrap wrapper">
					<div class="content">
						<div class="posts_container">
							<div class="post_item post_layout_excerpt post_format_standard post-52 post type-post status-publish format-standard has-post-thumbnail hentry category-bodyweight tag-crossfit tag-weightlifting">
								<div class="post_featured with_thumb hover_icon"><img width="740" height="411" src="images/post-5-740x411.jpg"  alt="Did you pull or strain a muscle? Here&#8217;s what to do next" /><div class="mask"></div><div class="icons"><a href="single-post.html" aria-hidden="true" class="icon-add-mark"></a></div></div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">Did you pull or strain a muscle? Here&#8217;s what to do next</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">September 23, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Bodyweight</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales condimentum metus. Nulla non fermentum nisl. Maecenas id molestie turpis, sit amet feugiat lorem. Curabitur sed erat vel tellus hendrerit tincidunt. Sed arcu tortor, sollicitudin ac lectus sed, rhoncus iaculis lectus. Ut efficitur feugiat enim a euismod. Mauris suscipit vehicula&hellip;</p>
									</div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_standard post-94 post type-post status-publish format-standard has-post-thumbnail hentry category-healthy-lifestyle tag-diet tag-results">
								<div class="post_featured with_thumb hover_icon"><img width="740" height="411" src="images/post-19-740x411.jpg"  alt="Best vegetable source of proteins in weight loss"/><div class="mask"></div><div class="icons"><a href="single-post.html" aria-hidden="true" class="icon-add-mark"></a></div></div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">Best vegetable source of proteins in weight loss</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">September 22, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Healthy Lifestyle</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales condimentum metus. Nulla non fermentum nisl. Maecenas id molestie turpis, sit amet feugiat lorem. Curabitur sed erat vel tellus hendrerit tincidunt. Sed arcu tortor, sollicitudin ac lectus sed, rhoncus iaculis lectus. Ut efficitur feugiat enim a euismod. Mauris suscipit vehicula&hellip;</p>
									</div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_standard post-73 post type-post status-publish format-standard hentry category-running tag-diet tag-workout">
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">6 tips on how to run long (when you&#8217;ve never run long)</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">September 9, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Running</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat&hellip;</p>
									</div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_quote post-75 post type-post status-publish format-quote hentry category-nutrition tag-diet tag-workout post_format-post-format-quote">
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">Special treatment for sore joints and muscles</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">August 28, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Nutrition</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<blockquote>
											<p>Your social networks may matter more than your genetic networks. But if your friends have healthy habits you are more likely to as well. So get healthy friends.</p>
											<p><a href="#">Dr. Mark Hyman</a></p>
										</blockquote>
									</div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_image post-77 post type-post status-publish format-image has-post-thumbnail hentry category-gym tag-diet tag-workout post_format-post-format-image">
								<div class="post_featured with_thumb hover_icon"><img width="740" height="411" src="images/post-7-740x411.jpg"  alt="10 benefits of a group training at a gym"/><div class="mask"></div><div class="icons"><a href="single-post.html" aria-hidden="true" class="icon-add-mark"></a></div></div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">10 benefits of a group training at a gym</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">August 17, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Gym</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner"></div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_gallery post-67 post type-post status-publish format-gallery hentry category-gym tag-diet tag-workout post_format-post-format-gallery">
								<div class="post_featured without_thumb">
									<div class="slider_swiper_outer slider_style_default slider_outer_controls slider_outer_controls_side slider_outer_pagination slider_outer_pagination_bullets slider_outer_notitles slider_outer_one">
										<div class="slider_swiper swiper-slider-container slider_controls slider_controls_side slider_pagination slider_pagination_bullets slider_notitles slider_one slider_resize slider_height_auto slider_type_bg" data-ratio="16:9" data-interval="7123"
														data-effect="slide" data-pagination="bullets" data-slides-per-view="1" data-slides-space="0">
											<div class="swiper-wrapper">
												<div class="swiper-slide"><a href="single-post.html" class="slide_link"><img src="images/post-6-740x411.jpg" alt=""/></a></div>
												<div class="swiper-slide"><a href="single-post.html" class="slide_link"><img src="images/post-1-740x411.jpg" alt=""/></a></div>
												<div class="swiper-slide"><a href="single-post.html" class="slide_link"><img src="images/post-10-740x411.jpg" alt=""/></a></div>
											</div>
											<div class="slider_controls_wrap">
												<a class="slider_prev swiper-button-prev" href="#"></a>
												<a class="slider_next swiper-button-next" href="#"></a>
											</div>
											<div class="slider_pagination_wrap swiper-pagination"></div>
										</div>
									</div>
								</div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">Why you need to know your sweat rate &#038; how to calculate it</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">August 16, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Gym</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales condimentum metus. Nulla non fermentum nisl. Maecenas id molestie turpis, sit amet feugiat lorem. Curabitur sed erat vel tellus hendrerit tincidunt. Sed arcu tortor, sollicitudin ac lectus sed, rhoncus iaculis lectus. Ut efficitur feugiat enim a euismod. Mauris suscipit vehicula…</p>
									</div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
							<div class="post_item post_layout_excerpt post_format_video post-79 post type-post status-publish format-video has-post-thumbnail hentry category-bodyweight tag-diet tag-workout post_format-post-format-video">
								<div class="post_featured with_thumb hover_play"><img width="740" height="411" src="images/post-8-740x411.jpg"  alt="8 At-Home Workouts to Lose Weight and Build Muscle"/>
									<div class="mask"></div>
									<div class="post_video_hover" data-video="&lt;iframe src=https://player.vimeo.com/video/154676612?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1 width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot;&gt;"></div>
									<div class="post_video video_frame"></div>
								</div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="single-post.html" rel="bookmark">8 At-Home Workouts to Lose Weight and Build Muscle</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_date"><a href="single-post.html">August 8, 2016</a></span>
										<span class="post_meta_item post_meta_in">In</span>
										<span class="post_meta_item post_categories"><a href="blog-classic.html" rel="category tag">Bodyweight</a></span>
									</div>
									<!-- .post_meta -->
								</div>
								<!-- .post_header -->
								<div class="post_content entry-content">
									<div class="post_content_inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales condimentum metus. Nulla non fermentum nisl. Maecenas id molestie turpis, sit amet feugiat lorem. Curabitur sed erat vel tellus hendrerit tincidunt. Sed arcu tortor, sollicitudin ac lectus sed, rhoncus iaculis lectus. Ut efficitur feugiat enim a euismod. Mauris suscipit vehicula&hellip;</p>
									</div>
									<div class="sc_item_button"><a class="more-link sc_button_accent_bg_1" href="single-post.html">Read more</a></div>
								</div>
								<!-- .entry-content -->
							</div>
						</div>
						<nav class="navigation pagination">
							<h2 class="screen-reader-text">Posts navigation</h2>
							<div class="nav-links"><span class='page-numbers current'><span class="meta-nav screen-reader-text">Page </span>1</span>
								<a class='page-numbers' href='#'><span class="meta-nav screen-reader-text">Page </span>2</a>
								<a class='page-numbers' href='#'><span class="meta-nav screen-reader-text">Page </span>3</a>
								<a class='page-numbers' href='#'><span class="meta-nav screen-reader-text">Page </span>4</a>
								<a class="next page-numbers" href="#">&gt;</a></div>
						</nav>
					</div>
					<!-- </.content> -->
					<div class="sidebar right widget_area scheme_default" role="complementary">
						<div class="sidebar_inner">
							<aside id="search-2" class="widget widget_search">
								<form role="search" method="get" class="search-form" action="#">
									<label>
										<span class="screen-reader-text">Search for:</span>
										<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
									</label>
									<input type="submit" class="search-submit" value="Search" />
								</form>
							</aside>
							<aside id="categories-2" class="widget widget_categories">
								<h5 class="widget_title">Categories</h5>
								<ul>
									<li class="cat-item"><a href="blog-classic.html">Bodyweight</a></li>
									<li class="cat-item"><a href="blog-classic.html">Gym</a></li>
									<li class="cat-item"><a href="blog-classic.html">Healthy Lifestyle</a></li>
									<li class="cat-item"><a href="blog-classic.html">Nutrition</a></li>
									<li class="cat-item"><a href="blog-classic.html">Running</a></li>
								</ul>
							</aside>
							<aside id="recent-comments-2" class="widget widget_recent_comments">
								<h5 class="widget_title">Comments</h5>
								<ul id="recentcomments">
									<li class="recentcomments"><span class="comment-author-link">Tracy Brewer</span> on <a href="single-post.html#comment-7">Your individual training plan. High intensity workouts</a></li>
									<li class="recentcomments"><span class="comment-author-link">Tracy Brewer</span> on <a href="product.html#comment-6">Men&#8217;s Vitamins</a></li>
									<li class="recentcomments"><span class="comment-author-link">Jhon Miller</span> on <a href="single-post.html#comment-5">6 tips on how to run long (when you&#8217;ve never run long)</a></li>
								</ul>
							</aside>
							<aside id="trx_addons_widget_calendar-2" class="widget widget_calendar">
								<h5 class="widget_title">Calendar</h5>
								<table id="wp-calendar">
									<caption>December 2016</caption>
									<thead>
										<tr>
											<th scope="col" title="Monday">Mon</th>
											<th scope="col" title="Tuesday">Tue</th>
											<th scope="col" title="Wednesday">Wed</th>
											<th scope="col" title="Thursday">Thu</th>
											<th scope="col" title="Friday">Fri</th>
											<th scope="col" title="Saturday">Sat</th>
											<th scope="col" title="Sunday">Sun</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="3" id="prev"><a href="#">&laquo; Sep</a></td>
											<td class="pad">&nbsp;</td>
											<td colspan="3" id="next" class="pad">&nbsp;</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td colspan="3" class="pad">&nbsp;</td>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
											<td>10</td>
											<td>11</td>
										</tr>
										<tr>
											<td>12</td>
											<td>13</td>
											<td>14</td>
											<td>15</td>
											<td>16</td>
											<td>17</td>
											<td>18</td>
										</tr>
										<tr>
											<td>19</td>
											<td>20</td>
											<td>21</td>
											<td>22</td>
											<td>23</td>
											<td>24</td>
											<td>25</td>
										</tr>
										<tr>
											<td>26</td>
											<td>27</td>
											<td id="today">28</td>
											<td>29</td>
											<td>30</td>
											<td>31</td>
											<td class="pad" colspan="1">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</aside>
							<aside id="trx_addons_widget_recent_posts-2" class="widget widget_recent_posts">
								<h5 class="widget_title">Recent Posts</h5>
								<div class="post_item with_thumb">
									<div class="post_thumb">
										<a href="single-post.html"><img width="114" height="84" src="images/post-5-114x84.jpg"  alt="Did you pull or strain a muscle? Here&#8217;s what to do next" /></a>
									</div>
									<div class="post_content">
										<h6 class="post_title"><a href="single-post.html">Did you pull or strain a muscle? Here&#8217;s what to do next</a></h6>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">3 months ago</a></span></div>
									</div>
								</div>
								<div class="post_item with_thumb">
									<div class="post_thumb">
										<a href="single-post.html"><img width="114" height="84" src="images/post-19-114x84.jpg"  alt="Best vegetable source of proteins in weight loss" /></a>
									</div>
									<div class="post_content">
										<h6 class="post_title"><a href="single-post.html">Best vegetable source of proteins in weight loss</a></h6>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">3 months ago</a></span></div>
									</div>
								</div>
							</aside>
							<aside id="tag_cloud-2" class="widget widget_tag_cloud">
								<h5 class="widget_title">Tags</h5>
								<div class="tagcloud"><a href='blog-classic.html' class='tag-link-18 tag-link-position-1' title='4 topics'>Clients</a>
									<a href='blog-classic.html' class='tag-link-21 tag-link-position-2' title='5 topics'>Crossfit</a>
									<a href='blog-classic.html' class='tag-link-24 tag-link-position-3' title='8 topics'>Diet</a>
									<a href='blog-classic.html' class='tag-link-16 tag-link-position-4' title='3 topics'>Gym</a>
									<a href='blog-classic.html' class='tag-link-19 tag-link-position-5' title='5 topics'>Results</a>
									<a href='blog-classic.html' class='tag-link-17 tag-link-position-6' title='4 topics'>Trainings</a>
									<a href='blog-classic.html' class='tag-link-20 tag-link-position-7' title='5 topics'>Weightlifting</a>
									<a href='blog-classic.html' class='tag-link-25 tag-link-position-8' title='7 topics'>Workout</a></div>
							</aside>
							<aside id="meta-2" class="widget widget_meta">
								<h5 class="widget_title">Meta</h5>
								<ul>
									<li><a href="#">Log in</a></li>
									<li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#">WordPress.org</a></li>
								</ul>
							</aside>
						</div>
						<!-- /.sidebar_inner -->
					</div>
					<!-- /.sidebar -->
				</div>
				<!-- </.content_wrap> -->
			</div>
			<!-- </.page_content_wrap> -->
			<footer class="site_footer_wrap scheme_dark">
				<div class="footer_wrap widget_area">
					<div class="footer_wrap_inner widget_area_inner">
						<div class="content_wrap">
							<div class="columns_wrap">
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-1-container">
										<ul class="menu">
											<li class="menu-item"><a href="index.html">Home</a></li>
											<li class="menu-item"><a href="about-me.html">About</a></li>
											<li class="menu-item"><a href="trainer-services.html">Services</a></li>
										</ul>
									</div>
								</aside>
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-2-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">pages</a></li>
											<li class="menu-item"><a href="events.html">events</a></li>
											<li class="menu-item current-menu-item"><a href="index.html">blog</a></li>
										</ul>
									</div>
								</aside>
								<aside id="nav_menu-4" class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-3-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">results</a></li>
											<li class="menu-item"><a href="shop.html">shop</a></li>
											<li class="menu-item"><a href="contacts.html">contact</a></li>
										</ul>
									</div>
								</aside>
								<aside id="trx_addons_widget_socials-3" class="column-1_4 widget widget_socials">
									<div class="socials_description">
										<p>© 2016 Steven Watkins<br />
											<a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></p>
									</div>
									<div class="socials_wrap"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
										</span>
									</div>
								</aside>
							</div>
							<!-- /.columns_wrap -->
						</div>
						<!-- /.content_wrap -->
					</div>
					<!-- /.footer_wrap_inner -->
				</div>
				<!-- /.footer_wrap -->
			</footer>
			<!-- /.site_footer_wrap -->
		</div>
		<!-- /.page_wrap -->
	</div>
	<!-- /.body_wrap -->
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.front.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.utils.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/widgets/slider/slider.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/form/form.js'></script>
	<script type='text/javascript' src='js/custom/skip-link-focus-fix.js'></script>
	<script type='text/javascript' src='js/custom/superfish.js'></script>
	<script type='text/javascript' src='js/custom/_utils.js'></script>
	<script type='text/javascript' src='js/custom/_init.js'></script>
	<script type='text/javascript' src='js/vendor/includes/theme.hovers/theme.hovers.js'></script>
	<script type='text/javascript' src='js/custom/global.js'></script>
	<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>
</html>
