<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardio page</title>
    {{>header}}
</head>
<body>
   {{>loginNav}}

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Cardio</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {{#each data }}
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
          
        <h2>{{this.name}}</h2>
        <p>Target Muscle : {{this.target}}</p>
        <a href="{{this.gifUrl}}" class="icon-link d-inline-flex align-items-center">
          click here
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    {{/each}}

      
    </div>
  </div>
</body>
</html>