<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
<head>
	<title>Gallery Masonry &#8211; Steven Watkins Gym Coach &#038; Personal Trainer</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700%7COpen+Sans:300,400,600,700,800%7CRaleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href='js/vendor/plugins/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='sb_instagram_icons-css' href='css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc-css' href='js/vendor/plugins/trx_addons/shortcodes/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-icons-css' href='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='swiperslider-css' href='js/vendor/plugins/trx_addons/js/swiper/swiper.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='magnific-popup-css' href='js/vendor/plugins/trx_addons/js/magnific/magnific-popup.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href='js/vendor/plugins/trx_addons/css/trx_addons.front.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-hovers-css' href='js/vendor/plugins/trx_addons/css/trx_addons.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_slider-css' href='js/vendor/plugins/trx_addons/widgets/slider/slider.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_socials-css' href='js/vendor/plugins/trx_addons/widgets/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_content-css' href='js/vendor/plugins/trx_addons/shortcodes/content/content.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_icons-css' href='js/vendor/plugins/trx_addons/shortcodes/icons/icons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_socials-css' href='js/vendor/plugins/trx_addons/shortcodes/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-metropolis-css' href='css/font-face/metropolis/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-rajdhani-css' href='css/font-face/rajdhani/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-fontello-css' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-main-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-global-css' href='css/global.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-animation-css' href='css/animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-hovers-css' href='js/vendor/includes/theme.hovers/theme.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-trx_addons-css' href='js/vendor/plugins/trx_addons/trx_addons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-essential-grid-css' href='js/vendor/plugins/essential-grid/essential-grid.css' type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href='js/vendor/plugins/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-responsive-css' href='css/responsive.css' type='text/css' media='all' />
</head>
<body class="page page-template-default blog_mode_page body_tag body_style_wide scheme_default is_single sidebar_hide expand_content header_style_header-1 header_position_default header_title_on menu_style_top no_layout">
	<div class="body_wrap">
		<div class="page_wrap">
			<header class="top_panel top_panel_style_1 with_bg_image stevenwatkins_inline_0 scheme_default">
				<a class="menu_mobile_button icon-menu-2"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi			 with_bg_image			scheme_default">
					<div class="menu_main_wrap clearfix menu_hover_fade">
						<div class="content_wrap">
							<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
							<nav class="menu_main_nav_area">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
											<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
											<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
											<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
											<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
										</ul>
									</li>
									<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Features</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
													<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
													<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
													<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
												</ul>
											</li>
											<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Pages</span></a>
												<ul class="sub-menu">
													<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Gallery</span></a>
														<ul class="sub-menu">
															<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
															<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
															<li class="menu-item current-menu-item page-item-133"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
														</ul>
													</li>
													<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
													<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
													<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
													<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
											<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
											<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
								</ul>
							</nav>
							<div class="search_wrap search_style_expand search_ajax">
								<div class="search_form_wrap">
									<form role="search" method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Search" value="" name="s">
										<button type="submit" class="search_submit icon-search"></button>
									</form>
								</div>
								<div class="search_results widget_area">
									<a href="#" class="search_results_close icon-cancel"></a>
									<div class="search_results_content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.top_panel_navi -->
				<div class="top_panel_title_wrap">
					<div class="content_wrap">
						<div class="top_panel_title">
							<div class="page_title">
								<h1 class="page_caption">Gallery Masonry</h1>
							</div>
							<div class="breadcrumbs"><a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Gallery Masonry</span></div>
						</div>
					</div>
				</div>
			</header>
			<div class="menu_mobile_overlay"></div>
			<div class="menu_mobile scheme_dark">
				<div class="menu_mobile_inner">
					<a class="menu_mobile_close icon-cancel"></a>
					<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
					<nav class="menu_mobile_nav_area">
						<ul id="menu_mobile" class="menu_mobile_nav">
							<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
									<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
									<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
									<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
									<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
								</ul>
							</li>
							<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Features</span></a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
											<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
											<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
										</ul>
									</li>
									<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Pages</span></a>
										<ul class="sub-menu">
											<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Gallery</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
													<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
													<li class="menu-item current-menu-item page-item-133"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
												</ul>
											</li>
											<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
											<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
											<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
											<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
									<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
									<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
						</ul>
					</nav>
					<div class="search_mobile">
						<div class="search_form_wrap">
							<form role="search" method="get" class="search_form" action="#">
								<input type="text" class="search_field" placeholder="Search ..." value="" name="s">
								<button type="submit" class="search_submit icon-search" title="Start search"></button>
							</form>
						</div>
					</div>
					<div class="socials_mobile"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
						</span>
					</div>
				</div>
			</div>
			<div class="page_content_wrap scheme_default">
				<div class="content_wrap">
					<div class="content">
						<div class="post_item_single post_type_page post-133 page type-page status-publish hentry">
							<div class="post_content entry-content">
								<div class=" wpb_row">
									<div class="wpb_column column_container">
										<div class="inner">
											<div class="wrapper">
												<div id="sc_title_1221397750" class="sc_title sc_title_default">
													<h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_huge">OUR PORTFOLIO</h2></div>
													<div class="vc_empty_space  height_medium" style="height: 0px"></div>
												<div class="myportfolio-container custom-4" id="esg-grid-4-1-wrap">
													<div id="esg-grid-4-1" class="esg-grid">
														<ul>
															<li id="eg-4-post-id-106" class="filterall filter-nutrition filter-trainings filter-weightlifting eg-custom-4-wrapper eg-post-id-106" data-date="1463666934">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-11.jpg" alt="" width="2400" height="1830"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-106 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-106 esgbox" href="images/post-11.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-106 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-106" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-106 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Group training in the best weighlift facility</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-104" class="filterall filter-gym filter-clients filter-crossfit eg-custom-4-wrapper eg-post-id-104" data-date="1463753146">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-14.jpg" alt="" width="2400" height="1833"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-104 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-104 esgbox" href="images/post-14.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-104 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-104" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-104 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Crossfit is easy: it's you versus yourself</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-102" class="filterall filter-bodyweight filter-results filter-weightlifting eg-custom-4-wrapper eg-post-id-102" data-date="1463839214">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-15.jpg" alt="" width="2400" height="1821"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-102 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-102 esgbox" href="images/post-15.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-102 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-102" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-102 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Nutritionists recommend these products for more strength</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-96" class="filterall filter-nutrition filter-clients filter-crossfit eg-custom-4-wrapper eg-post-id-96" data-date="1466343547">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-3.jpg" alt="" width="2400" height="1725"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-96 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-96 esgbox" href="images/post-3.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-96 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-96" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-96 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Your trainer knows what's bets for your heart</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-98" class="filterall filter-gym filter-trainings filter-weightlifting eg-custom-4-wrapper eg-post-id-98" data-date="1467207788">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-8.jpg" alt="" width="2400" height="1602"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-98 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-98 esgbox" href="images/post-8.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-98 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-98" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-98 eg-custom-4-element-3 esg-flipup" data-delay="0.1">What does stretching do to your immune system</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-90" class="filterall filter-healthy-lifestyle filter-crossfit filter-trainings eg-custom-4-wrapper eg-post-id-90" data-date="1467724566">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-18.jpg" alt="" width="2400" height="1791"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-90 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-90 esgbox" href="images/post-18.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-90 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-90" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-90 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Weight loss without adding major muscles</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-100" class="filterall filter-gym filter-crossfit filter-gym eg-custom-4-wrapper eg-post-id-100" data-date="1468244957">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-9.jpg" alt="" width="2400" height="2065"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-100 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-100 esgbox" href="images/post-9.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-100 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-100" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-100 eg-custom-4-element-3 esg-flipup" data-delay="0.1">5 myths about female powerlifting</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-92" class="filterall filter-healthy-lifestyle filter-clients filter-weightlifting eg-custom-4-wrapper eg-post-id-92" data-date="1469020801">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-11.jpg" alt="" width="2400" height="1830"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-92 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-92 esgbox" href="images/post-11.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-92 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-92" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-92 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Coaching gymnastics = educating athletes</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
															<li id="eg-4-post-id-52" class="filterall filter-bodyweight filter-crossfit filter-weightlifting eg-custom-4-wrapper eg-post-id-52" data-date="1474633311">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/post-5.jpg" alt="" width="2300" height="1897"></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-custom-4-container" data-delay="0"></div>
																		<div class="esg-center eg-post-52 eg-custom-4-element-0-a esg-falldown" data-delay="0.1"><a class="eg-custom-4-element-0 eg-post-52 esgbox" href="images/post-5.jpg"><i class="eg-icon-search"></i></a></div>
																		<div class="esg-center eg-post-52 eg-custom-4-element-1-a esg-falldown" data-delay="0.2"><a class="eg-custom-4-element-1 eg-post-52" href="single-post.html" target="_self"><i class="eg-icon-link"></i></a></div>
																		<div class="esg-center eg-custom-4-element-8 esg-none esg-clear"></div>
																		<div class="esg-center eg-post-52 eg-custom-4-element-3 esg-flipup" data-delay="0.1">Did you pull or strain a muscle? Here's what to do next</div>
																		<div class="esg-center eg-custom-4-element-9 esg-none esg-clear"></div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- .entry-content -->
						</div>
					</div>
					<!-- </.content> -->
				</div>
				<!-- </.content_wrap> -->
			</div>
			<!-- </.page_content_wrap> -->
			<footer class="site_footer_wrap scheme_dark">
				<div class="footer_wrap widget_area">
					<div class="footer_wrap_inner widget_area_inner">
						<div class="content_wrap">
							<div class="columns_wrap">
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-1-container">
										<ul class="menu">
											<li class="menu-item"><a href="index.html">Home</a></li>
											<li class="menu-item"><a href="about-me.html">About</a></li>
											<li class="menu-item"><a href="trainer-services.html">Services</a></li>
										</ul>
									</div>
								</aside>
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-2-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">pages</a></li>
											<li class="menu-item"><a href="events.html">events</a></li>
											<li class="menu-item"><a href="blog-classic.html">blog</a></li>
										</ul>
									</div>
								</aside>
								<aside id="nav_menu-4" class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-3-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">results</a></li>
											<li class="menu-item"><a href="shop.html">shop</a></li>
											<li class="menu-item"><a href="contacts.html">contact</a></li>
										</ul>
									</div>
								</aside>
								<aside id="trx_addons_widget_socials-3" class="column-1_4 widget widget_socials">
									<div class="socials_description">
										<p>© 2016 Steven Watkins<br />
											<a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></p>
									</div>
									<div class="socials_wrap"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
										</span>
									</div>
								</aside>
							</div>
							<!-- /.columns_wrap -->
						</div>
						<!-- /.content_wrap -->
					</div>
					<!-- /.footer_wrap_inner -->
				</div>
				<!-- /.footer_wrap -->

			</footer>
			<!-- /.site_footer_wrap -->
		</div>
		<!-- /.page_wrap -->
	</div>
	<!-- /.body_wrap -->
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.front.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.utils.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/widgets/slider/slider.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/form/form.js'></script>
	<script type='text/javascript' src='js/custom/skip-link-focus-fix.js'></script>
	<script type='text/javascript' src='js/custom/superfish.js'></script>
	<script type='text/javascript' src='js/custom/_utils.js'></script>
	<script type='text/javascript' src='js/custom/_init.js'></script>
	<script type='text/javascript' src='js/vendor/includes/theme.hovers/theme.hovers.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>
	<script type='text/javascript' src='js/custom/esg-grid-4-1.js'></script>
	<script type='text/javascript' src='js/custom/global.js'></script>
	<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>
</html>
