<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
<head>
	<title>Services &#8211; Page 2 &#8211; Steven Watkins Gym Coach &#038; Personal Trainer</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='stylesheet' id='tp-open-sans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800&amp;ver=4.6.1' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-raleway-css' href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&amp;ver=4.6.1' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-droid-serif-css' href='http://fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700&amp;ver=4.6.1' type='text/css' media='all' />
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href='js/vendor/plugins/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='sb_instagram_styles-css' href='js/vendor/plugins/instagram-feed/css/sb-instagram.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='sb_instagram_icons-css' href='css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href='js/vendor/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-debug-css' href='js/vendor/plugins/trx_addons/css/trx_addons.debug.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-events-css' href='js/vendor/plugins/trx_addons/api/the-events-calendar/the-events-calendar.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-editor-css' href='js/vendor/plugins/trx_addons/editor/css/trx_addons.editor.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc-css' href='js/vendor/plugins/trx_addons/shortcodes/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-icons-css' href='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='swiperslider-css' href='js/vendor/plugins/trx_addons/js/swiper/swiper.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='magnific-popup-css' href='js/vendor/plugins/trx_addons/js/magnific/magnific-popup.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href='js/vendor/plugins/trx_addons/css/trx_addons.front.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-hovers-css' href='js/vendor/plugins/trx_addons/css/trx_addons.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-layout-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-cpt_services-css' href='js/vendor/plugins/trx_addons/cpt/services/services.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-cpt_team-css' href='js/vendor/plugins/trx_addons/cpt/team/team.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-cpt_testimonials-css' href='js/vendor/plugins/trx_addons/cpt/testimonials/testimonials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_audio-css' href='js/vendor/plugins/trx_addons/widgets/audio/audio.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_slider-css' href='js/vendor/plugins/trx_addons/widgets/slider/slider.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_socials-css' href='js/vendor/plugins/trx_addons/widgets/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_video-css' href='js/vendor/plugins/trx_addons/widgets/video/video.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_anchor-css' href='js/vendor/plugins/trx_addons/shortcodes/anchor/anchor.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_blogger-css' href='js/vendor/plugins/trx_addons/shortcodes/blogger/blogger.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_button-css' href='js/vendor/plugins/trx_addons/shortcodes/button/button.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_content-css' href='js/vendor/plugins/trx_addons/shortcodes/content/content.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_form-css' href='js/vendor/plugins/trx_addons/shortcodes/form/form.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_googlemap-css' href='js/vendor/plugins/trx_addons/shortcodes/googlemap/googlemap.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_icons-css' href='js/vendor/plugins/trx_addons/shortcodes/icons/icons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_price-css' href='js/vendor/plugins/trx_addons/shortcodes/price/price.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_promo-css' href='js/vendor/plugins/trx_addons/shortcodes/promo/promo.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_skills-css' href='js/vendor/plugins/trx_addons/shortcodes/skills/skills.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_socials-css' href='js/vendor/plugins/trx_addons/shortcodes/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_table-css' href='js/vendor/plugins/trx_addons/shortcodes/table/table.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_title-css' href='js/vendor/plugins/trx_addons/shortcodes/title/title.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-metropolis-css' href='css/font-face/metropolis/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-rajdhani-css' href='css/font-face/rajdhani/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-fontello-css' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-main-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-global-css' href='css/global.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-animation-css' href='css/animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='mediaelement-css' href='js/vendor/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='wp-mediaelement-css' href='js/vendor/mediaelement/wp-mediaelement.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-hovers-css' href='js/vendor/includes/theme.hovers/theme.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-trx_addons-css' href='js/vendor/plugins/trx_addons/trx_addons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-trx_addons_editor-css' href='js/vendor/plugins/trx_addons/trx_addons.editor.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-essential-grid-css' href='js/vendor/plugins/essential-grid/essential-grid.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-woocommerce-css' href='js/vendor/plugins/woocommerce/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-calculated-fields-form-css' href='js/vendor/plugins/calculated-fields-form/calculated-fields-form.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-responsive-css' href='css/responsive.css' type='text/css' media='all' />
	<script type='text/javascript'>
		/* <![CDATA[ */
		var tribe_events_linked_posts = {
			"post_types": {
				"tribe_venue": "venue",
				"tribe_organizer": "organizer"
			}
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var wc_add_to_cart_params = {
			"ajax_url": "\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/services\/page\/2\/?wc-ajax=%%endpoint%%",
			"i18n_view_cart": "View Cart",
			"cart_url": "http:\/\/stevenwatkins.axiomthemes.com\/cart\/",
			"is_cart": "",
			"cart_redirect_after_add": "no"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>






	<script type="text/javascript">
		var ajaxRevslider;

		jQuery(document).ready(function() {
			// CUSTOM AJAX CONTENT LOADING FUNCTION
			ajaxRevslider = function(obj) {

				// obj.type : Post Type
				// obj.id : ID of Content to Load
				// obj.aspectratio : The Aspect Ratio of the Container / Media
				// obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

				var content = "";

				data = {};

				data.action = 'revslider_ajax_call_front';
				data.client_action = 'get_slider_html';
				data.token = '652ea93baf';
				data.type = obj.type;
				data.id = obj.id;
				data.aspectratio = obj.aspectratio;

				// SYNC AJAX REQUEST
				jQuery.ajax({
					type: "post",
					url: "http://stevenwatkins.axiomthemes.com/wp-admin/admin-ajax.php",
					dataType: 'json',
					data: data,
					async: false,
					success: function(ret, textStatus, XMLHttpRequest) {
						if (ret.success == true)
							content = ret.data;
					},
					error: function(e) {
						console.log(e);
					}
				});

				// FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
				return content;
			};

			// CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
			var ajaxRemoveRevslider = function(obj) {
				return jQuery(obj.selector + " .rev_slider").revkill();
			};

			// EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
			var extendessential = setInterval(function() {
				if (jQuery.fn.tpessential != undefined) {
					clearInterval(extendessential);
					if (typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
						jQuery.fn.tpessential.defaults.ajaxTypes.push({
							type: "revslider",
							func: ajaxRevslider,
							killfunc: ajaxRemoveRevslider,
							openAnimationSpeed: 0.3
						});
						// type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
						// func: the Function Name which is Called once the Item with the Post Type has been clicked
						// killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
						// openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
					}
				}
			}, 30);
		});
	</script>
	<style type="text/css">
		.recentcomments a {
			display: inline !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	</style>




	<link rel="icon" href="images/cropped-favicon-150x150.jpg" sizes="32x32" />
	<link rel="icon" href="images/cropped-favicon-300x300.jpg" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed" href="images/cropped-favicon-300x300.jpg" />

	<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="archive paged post-type-archive post-type-archive-cpt_services paged-2 post-type-paged-2 blog_mode_services body_tag body_style_wide scheme_default  is_stream blog_style_excerpt sidebar_show sidebar_right header_style_header-1 header_position_default header_title_on menu_style_top no_layout">
	<div class="body_wrap">
		<div class="page_wrap">
			<header class="top_panel top_panel_style_1 with_bg_image stevenwatkins_inline_0 scheme_default">
				<a class="menu_mobile_button icon-menu-2"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi			 with_bg_image			scheme_default">
					<div class="menu_main_wrap clearfix menu_hover_fade">
						<div class="content_wrap">
							<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
							<nav class="menu_main_nav_area">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
											<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
											<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
											<li class="menu-item"><a href="../../new-gym-experience/index.html"><span>Single Service</span></a></li>
											<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
													<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
													<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
													<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
														<ul class="sub-menu">
															<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
															<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
															<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
														</ul>
													</li>
													<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
													<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
													<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
													<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
											<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
											<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
								</ul>
							</nav>
							<div class="search_wrap search_style_expand search_ajax">
								<div class="search_form_wrap">
									<form role="search" method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Search" value="" name="s">
										<button type="submit" class="search_submit icon-search"></button>
									</form>
								</div>
								<div class="search_results widget_area">
									<a href="#" class="search_results_close icon-cancel"></a>
									<div class="search_results_content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.top_panel_navi -->
				<div class="top_panel_title_wrap">
					<div class="content_wrap">
						<div class="top_panel_title">
							<div class="page_title">
								<h1 class="page_caption">All Services</h1>
							</div>
							<div class="breadcrumbs"><a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">All Services</span></div>
						</div>
					</div>
				</div>
			</header>
			<div class="menu_mobile_overlay"></div>
			<div class="menu_mobile scheme_dark">
				<div class="menu_mobile_inner">
					<a class="menu_mobile_close icon-cancel"></a>
					<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
					<nav class="menu_mobile_nav_area">
						<ul id="menu_mobile" class="menu_mobile_nav">
							<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
									<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
									<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
									<li class="menu-item"><a href="../../new-gym-experience/index.html"><span>Single Service</span></a></li>
									<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
								</ul>
							</li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Support</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
											<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
											<li class="menu-item"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
													<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
													<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
												</ul>
											</li>
											<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
											<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
											<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
											<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
									<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
									<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
						</ul>
					</nav>
					<div class="search_mobile">
						<div class="search_form_wrap">
							<form role="search" method="get" class="search_form" action="#">
								<input type="text" class="search_field" placeholder="Search ..." value="" name="s">
								<button type="submit" class="search_submit icon-search" title="Start search"></button>
							</form>
						</div>
					</div>
					<div class="socials_mobile"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
						</span>
					</div>
				</div>
			</div>
			<div class="page_content_wrap scheme_default">
				<div class="content_wrap">
					<div class="content">
						<div class="sc_services sc_services_default">
							<div class="sc_services_columns_wrap trx_addons_columns_wrap columns_padding_bottom">
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-8-740x411.jpg"  alt="Basic Control of Your Results"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../basic-control-of-your-results/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-2/index.html" title="View all posts in Program 2">Program 2</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../basic-control-of-your-results/index.html">Basic Control of Your Results</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>Join a smaller group training class, with only 3-4 adults</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../basic-control-of-your-results/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-21-740x411.jpg"  alt="Individual Nutrition Program" srcset="images/post-21-740x411.jpg 740w, images/post-21-1170x650.jpg 1170w"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../individual-nutrition-program/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-2/index.html" title="View all posts in Program 2">Program 2</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../individual-nutrition-program/index.html">Individual Nutrition Program</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>A variety of group exercise classes that provide cardio &#038; strength training</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../individual-nutrition-program/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-9-740x411.jpg"  alt="Special Nutrition Program" srcset="images/post-9-740x411.jpg 740w, images/post-9-1170x650.jpg 1170w"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../special-nutrition-program-2/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-3/index.html" title="View all posts in Program 3">Program 3</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../special-nutrition-program-2/index.html">Special Nutrition Program</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>Your journey into a new lifestyle starts here! </p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../special-nutrition-program-2/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-8-740x411.jpg"  alt="Daily Control of Your Results"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../daily-control-of-your-results/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-3/index.html" title="View all posts in Program 3">Program 3</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../daily-control-of-your-results/index.html">Daily Control of Your Results</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>You can try a small group training class, with only 3-4 adults.</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../daily-control-of-your-results/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-21-740x411.jpg"  alt="Regular Consultations" srcset="images/post-21-740x411.jpg 740w, images/post-21-1170x650.jpg 1170w"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../regular-consultations/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-3/index.html" title="View all posts in Program 3">Program 3</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../regular-consultations/index.html">Regular Consultations</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>Interactive trainings and exciting current topics thoroughly researched.</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../regular-consultations/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-9-740x411.jpg"  alt="Personal Training" srcset="images/post-9-740x411.jpg 740w, images/post-9-1170x650.jpg 1170w"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../personal-training/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-4/index.html" title="View all posts in Program 4">Program 4</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../personal-training/index.html">Personal Training</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>We will systemize a plan that will work for you.</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../personal-training/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-8-740x411.jpg"  alt="Daily Online Consulting"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../daily-online-consulting/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-4/index.html" title="View all posts in Program 4">Program 4</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../daily-online-consulting/index.html">Daily Online Consulting</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>Instructive knowledge and exciting current topics thoroughly researched.</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../daily-online-consulting/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
								<div class="trx_addons_column-1_3">
									<div class="sc_services_item with_image sc_services_item_featured_top">
										<div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="740" height="411" src="images/post-21-740x411.jpg"  alt="Special Nutrition Program" srcset="images/post-21-740x411.jpg 740w, images/post-21-1170x650.jpg 1170w"/>
											<div class="mask"></div>
											<div class="icons">
												<a href="../../special-nutrition-program/index.html" aria-hidden="true" class="icon-add-mark"></a>
											</div>
										</div>
										<div class="sc_services_item_info">
											<div class="sc_services_item_subtitle"><a href="../../../services_group/program-4/index.html" title="View all posts in Program 4">Program 4</a></div>
											<div class="sc_services_item_header">
												<h4 class="sc_services_item_title"><a href="../../special-nutrition-program/index.html">Special Nutrition Program</a></h4>
											</div>
											<div class="sc_services_item_content">
												<p>Questions, worries and the greatest myths about training, nutrition and health briefly answered!</p>
											</div>
											<div class="sc_services_item_button sc_item_button"><a href="../../special-nutrition-program/index.html" class="sc_button sc_button_simple">Learn more</a></div>
										</div>
									</div>
								</div>
							</div>
							<!-- .trx_addons_services_columns_wrap -->
						</div>
						<!-- .sc_services -->
						<nav class="navigation pagination" role="navigation">
							<h2 class="screen-reader-text">Posts navigation</h2>
							<div class="nav-links"><a class="prev page-numbers" href="index.html">&lt;</a>
								<a class='page-numbers' href='index.html'><span class="meta-nav screen-reader-text">Page </span>1</a>
								<span class='page-numbers current'><span class="meta-nav screen-reader-text">Page </span>2</span>
							</div>
						</nav>
					</div>
					<!-- </.content> -->

					<div class="sidebar right widget_area scheme_default" role="complementary">
						<div class="sidebar_inner">
							<aside id="search-2" class="widget widget_search">
								<form role="search" method="get" class="search-form" action="#">
									<label>
										<span class="screen-reader-text">Search for:</span>
										<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
									</label>
									<input type="submit" class="search-submit" value="Search" />
								</form>
							</aside>
							<aside id="categories-2" class="widget widget_categories">
								<h5 class="widget_title">Categories</h5>
								<ul>
									<li class="cat-item"><a href="blog-classic.html">Bodyweight</a></li>
									<li class="cat-item"><a href="../blog-classic.html">Gym</a></li>
									<li class="cat-item"><a href="../blog-classic.html">Healthy Lifestyle</a></li>
									<li class="cat-item"><a href="../blog-classic.html">Nutrition</a></li>
									<li class="cat-item"><a href="../blog-classic.html">Running</a></li>
								</ul>
							</aside>
							<aside id="recent-comments-2" class="widget widget_recent_comments">
								<h5 class="widget_title">Comments</h5>
								<ul id="recentcomments">
									<li class="recentcomments"><span class="comment-author-link">Tracy Brewer</span> on <a href="../single-post.html#comment-7">Your individual training plan. High intensity workouts</a></li>
									<li class="recentcomments"><span class="comment-author-link">Tracy Brewer</span> on <a href="../product.html#comment-6">Men&#8217;s Vitamins</a></li>
									<li class="recentcomments"><span class="comment-author-link">Jhon Miller</span> on <a href="../single-post.html#comment-5">6 tips on how to run long (when you&#8217;ve never run long)</a></li>
								</ul>
							</aside>
							<aside id="trx_addons_widget_calendar-2" class="widget widget_calendar">
								<h5 class="widget_title">Calendar</h5>
								<table id="wp-calendar">
									<caption>December 2016</caption>
									<thead>
										<tr>
											<th scope="col" title="Monday">Mon</th>
											<th scope="col" title="Tuesday">Tue</th>
											<th scope="col" title="Wednesday">Wed</th>
											<th scope="col" title="Thursday">Thu</th>
											<th scope="col" title="Friday">Fri</th>
											<th scope="col" title="Saturday">Sat</th>
											<th scope="col" title="Sunday">Sun</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="3" id="prev"><a href="../#">&laquo; Sep</a></td>
											<td class="pad">&nbsp;</td>
											<td colspan="3" id="next" class="pad">&nbsp;</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td colspan="3" class="pad">&nbsp;</td>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
											<td>10</td>
											<td>11</td>
										</tr>
										<tr>
											<td>12</td>
											<td>13</td>
											<td>14</td>
											<td>15</td>
											<td>16</td>
											<td>17</td>
											<td>18</td>
										</tr>
										<tr>
											<td>19</td>
											<td>20</td>
											<td>21</td>
											<td>22</td>
											<td>23</td>
											<td>24</td>
											<td>25</td>
										</tr>
										<tr>
											<td>26</td>
											<td>27</td>
											<td id="today">28</td>
											<td>29</td>
											<td>30</td>
											<td>31</td>
											<td class="pad" colspan="1">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</aside>
							<aside id="trx_addons_widget_recent_posts-2" class="widget widget_recent_posts">
								<h5 class="widget_title">Recent Posts</h5>
								<div class="post_item with_thumb">
									<div class="post_thumb">
										<a href="../single-post.html"><img width="114" height="84" src="images/post-5-114x84.jpg"  alt="Did you pull or strain a muscle? Here&#8217;s what to do next"
											/></a>
									</div>
									<div class="post_content">
										<h6 class="post_title"><a href="../single-post.html">Did you pull or strain a muscle? Here&#8217;s what to do next</a></h6>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="../single-post.html" class="post_info_date">3 months ago</a></span></div>
									</div>
								</div>
								<div class="post_item with_thumb">
									<div class="post_thumb">
										<a href="../single-post.html"><img width="114" height="84" src="images/post-19-114x84.jpg"  alt="Best vegetable source of proteins in weight loss" /></a>
									</div>
									<div class="post_content">
										<h6 class="post_title"><a href="../single-post.html">Best vegetable source of proteins in weight loss</a></h6>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="../single-post.html" class="post_info_date">3 months ago</a></span></div>
									</div>
								</div>
							</aside>
							<aside id="tag_cloud-2" class="widget widget_tag_cloud">
								<h5 class="widget_title">Tags</h5>
								<div class="tagcloud"><a href='../blog-classic.html' class='tag-link-18 tag-link-position-1' title='4 topics' style='font-size: 12pt;'>Clients</a>
									<a href='../blog-classic.html' class='tag-link-21 tag-link-position-2' title='5 topics' style='font-size: 15.2pt;'>Crossfit</a>
									<a href='../blog-classic.html' class='tag-link-24 tag-link-position-3' title='8 topics'>Diet</a>
									<a href='../blog-classic.html' class='tag-link-16 tag-link-position-4' title='3 topics'>Gym</a>
									<a href='../blog-classic.html' class='tag-link-19 tag-link-position-5' title='5 topics' style='font-size: 15.2pt;'>Results</a>
									<a href='../blog-classic.html' class='tag-link-17 tag-link-position-6' title='4 topics' style='font-size: 12pt;'>Trainings</a>
									<a href='../blog-classic.html' class='tag-link-20 tag-link-position-7' title='5 topics' style='font-size: 15.2pt;'>Weightlifting</a>
									<a href='../blog-classic.html' class='tag-link-25 tag-link-position-8' title='7 topics' style='font-size: 20pt;'>Workout</a></div>
							</aside>
							<aside id="meta-2" class="widget widget_meta">
								<h5 class="widget_title">Meta</h5>
								<ul>
									<li><a href="../#">Log in</a></li>
									<li><a href="../#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="../#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#">WordPress.org</a></li>
								</ul>
							</aside>
						</div>
						<!-- /.sidebar_inner -->
					</div>
					<!-- /.sidebar -->
				</div>
				<!-- </.content_wrap> -->
			</div>
			<!-- </.page_content_wrap> -->
			<footer class="site_footer_wrap scheme_dark">
				<div class="footer_wrap widget_area">
					<div class="footer_wrap_inner widget_area_inner">
						<div class="content_wrap">
							<div class="columns_wrap">
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-1-container">
										<ul class="menu">
											<li class="menu-item"><a href="index.html">Home</a></li>
											<li class="menu-item"><a href="about-me.html">About</a></li>
											<li class="menu-item"><a href="trainer-services.html">Services</a></li>
										</ul>
									</div>
								</aside>
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-2-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">pages</a></li>
											<li class="menu-item"><a href="events.html">events</a></li>
											<li class="menu-item"><a href="blog-classic.html">blog</a></li>
										</ul>
									</div>
								</aside>
								<aside id="nav_menu-4" class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-3-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">results</a></li>
											<li class="menu-item"><a href="shop.html">shop</a></li>
											<li class="menu-item"><a href="contacts.html">contact</a></li>
										</ul>
									</div>
								</aside>
								<aside id="trx_addons_widget_socials-3" class="column-1_4 widget widget_socials">
									<div class="socials_description">
										<p>© 2016 Steven Watkins<br />
											<a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></p>
									</div>
									<div class="socials_wrap"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
										</span>
									</div>
								</aside>
							</div>
							<!-- /.columns_wrap -->
						</div>
						<!-- /.content_wrap -->
					</div>
					<!-- /.footer_wrap_inner -->
				</div>
				<!-- /.footer_wrap -->

			</footer>
			<!-- /.site_footer_wrap -->

		</div>
		<!-- /.page_wrap -->

	</div>
	<!-- /.body_wrap -->


	<link rel='stylesheet' id='stevenwatkins-inline-styles-css' href='css/__inline1a70.css?rnd=1415367969' type='text/css' media='all' />
	<style id='stevenwatkins-inline-styles-inline-css' type='text/css'>
		.stevenwatkins_inline_0 {
			background-image: url(images/depositphotos-18028835-original.png);
		}
	</style>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var sb_instagram_js_options = {
			"sb_instagram_at": "3978570070.3a81a9f.f04daf1905c74ff7bb1386e6741d85b7"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/plugins/instagram-feed/js/sb-instagram.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.login.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var TRX_ADDONS_STORAGE = {
			"ajax_url": "http:\/\/stevenwatkins.axiomthemes.com\/wp-admin\/admin-ajax.php",
			"ajax_nonce": "d7b3d317fd",
			"site_url": "http:\/\/stevenwatkins.axiomthemes.com",
			"vc_edit_mode": "0",
			"popup_engine": "magnific",
			"menu_cache": [],
			"user_logged_in": "0",
			"email_mask": "^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$",
			"msg_ajax_error": "Invalid server answer!",
			"msg_magnific_loading": "Loading image",
			"msg_magnific_error": "Error loading image",
			"msg_error_like": "Error saving your like! Please, try again later.",
			"msg_field_name_empty": "The name can't be empty",
			"msg_field_email_empty": "Too short (or empty) email address",
			"msg_field_email_not_valid": "Invalid email address",
			"msg_field_text_empty": "The message text can't be empty",
			"msg_send_complete": "Send message complete!",
			"msg_send_error": "Transmit failed!",
			"login_via_ajax": "1",
			"msg_login_empty": "The Login field can't be empty",
			"msg_login_long": "The Login field is too long",
			"msg_password_empty": "The password can't be empty and shorter then 4 characters",
			"msg_password_long": "The password is too long",
			"msg_login_success": "Login success! The page should be reloaded in 3 sec.",
			"msg_login_error": "Login failed!",
			"msg_not_agree": "Please, read and check 'Terms and Conditions'",
			"msg_email_long": "E-mail address is too long",
			"msg_email_not_valid": "E-mail address is invalid",
			"msg_password_not_equal": "The passwords in both fields are not equal",
			"msg_registration_success": "Registration success! Please log in!",
			"msg_registration_error": "Registration failed!",
			"scroll_to_anchor": "1",
			"update_location_from_anchor": "0",
			"msg_sc_googlemap_not_avail": "Googlemap service is not available",
			"msg_sc_googlemap_geocoder_error": "Error while geocode address"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.front.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.utils.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var woocommerce_params = {
			"ajax_url": "\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/services\/page\/2\/?wc-ajax=%%endpoint%%"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var wc_cart_fragments_params = {
			"ajax_url": "\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/services\/page\/2\/?wc-ajax=%%endpoint%%",
			"fragment_name": "wc_fragments"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/widgets/slider/slider.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/form/form.js'></script>
	<script type='text/javascript' src='js/custom/skip-link-focus-fix.js'></script>
	<script type='text/javascript' src='js/custom/superfish.js'></script>
	<script type='text/javascript' src='js/custom/_utils.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var STEVENWATKINS_STORAGE = {
			"ajax_url": "http:\/\/stevenwatkins.axiomthemes.com\/wp-admin\/admin-ajax.php",
			"ajax_nonce": "d7b3d317fd",
			"site_url": "http:\/\/stevenwatkins.axiomthemes.com",
			"user_logged_in": "",
			"mobile_layout_width": "959",
			"menu_stretch": "1",
			"menu_animation_in": "fadeInUpSmall",
			"menu_animation_out": "fadeOutDownSmall",
			"background_video": "",
			"use_mediaelements": "1",
			"message_maxlength": "1000",
			"site_scheme": "scheme_default",
			"admin_mode": "",
			"email_mask": "^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$",
			"strings": {
				"ajax_error": "Invalid server answer!",
				"error_global": "Error data validation!",
				"name_empty": "The name can&#039;t be empty",
				"name_long": "Too long name",
				"email_empty": "Too short (or empty) email address",
				"email_long": "Too long email address",
				"email_not_valid": "Invalid email address",
				"text_empty": "The message text can&#039;t be empty",
				"text_long": "Too long message text",
				"search_error": "Search error! Try again later.",
				"send_complete": "Send message complete!",
				"send_error": "Transmit failed!"
			},
			"menu_hover": "fade",
			"menu_hover_color": "#ec3449",
			"button_hover": "slide_left",
			"alter_link_color": "#3fb9be"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/custom/_init.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var mejsL10n = {
			"language": "en-US",
			"strings": {
				"Close": "Close",
				"Fullscreen": "Fullscreen",
				"Turn off Fullscreen": "Turn off Fullscreen",
				"Go Fullscreen": "Go Fullscreen",
				"Download File": "Download File",
				"Download Video": "Download Video",
				"Play": "Play",
				"Pause": "Pause",
				"Captions\/Subtitles": "Captions\/Subtitles",
				"None": "None",
				"Time Slider": "Time Slider",
				"Skip back %1 seconds": "Skip back %1 seconds",
				"Video Player": "Video Player",
				"Audio Player": "Audio Player",
				"Volume Slider": "Volume Slider",
				"Mute Toggle": "Mute Toggle",
				"Unmute": "Unmute",
				"Mute": "Mute",
				"Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.",
				"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."
			}
		};
		var _wpmejsSettings = {
			"pluginPath": "\/wp-includes\/js\/mediaelement\/"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>

	<script type='text/javascript' src='js/vendor/includes/theme.hovers/theme.hovers.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/trx_addons.js'></script>


	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/skills/skills.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>
	<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>



</html>
