<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
<head>
	<title>Video Tutorials &#8211; Steven Watkins Gym Coach &#038; Personal Trainer</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700%7COpen+Sans:300,400,600,700,800%7CRaleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel='stylesheet' id='sb_instagram_icons-css' href='css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc-css' href='js/vendor/plugins/trx_addons/shortcodes/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-icons-css' href='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='swiperslider-css' href='js/vendor/plugins/trx_addons/js/swiper/swiper.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='magnific-popup-css' href='js/vendor/plugins/trx_addons/js/magnific/magnific-popup.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href='js/vendor/plugins/trx_addons/css/trx_addons.front.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-hovers-css' href='js/vendor/plugins/trx_addons/css/trx_addons.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_slider-css' href='js/vendor/plugins/trx_addons/widgets/slider/slider.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_socials-css' href='js/vendor/plugins/trx_addons/widgets/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-widget_video-css' href='js/vendor/plugins/trx_addons/widgets/video/video.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_content-css' href='js/vendor/plugins/trx_addons/shortcodes/content/content.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_icons-css' href='js/vendor/plugins/trx_addons/shortcodes/icons/icons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-sc_socials-css' href='js/vendor/plugins/trx_addons/shortcodes/socials/socials.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-metropolis-css' href='css/font-face/metropolis/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-font-rajdhani-css' href='css/font-face/rajdhani/stylesheet.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-fontello-css' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-main-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-global-css' href='css/global.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-animation-css' href='css/animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-hovers-css' href='js/vendor/includes/theme.hovers/theme.hovers.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-trx_addons-css' href='js/vendor/plugins/trx_addons/trx_addons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='stevenwatkins-responsive-css' href='css/responsive.css' type='text/css' media='all' />
</head>
<body class="page page-id-18 page-template-default blog_mode_page body_tag body_style_wide scheme_default is_single sidebar_hide expand_content header_style_header-1 header_position_default header_title_on menu_style_top no_layout">
	<div class="body_wrap">
		<div class="page_wrap">
			<header class="top_panel top_panel_style_1 with_bg_image stevenwatkins_inline_2 scheme_default">
				<a class="menu_mobile_button icon-menu-2"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi with_bg_image scheme_default">
					<div class="menu_main_wrap clearfix menu_hover_fade">
						<div class="content_wrap">
							<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
							<nav class="menu_main_nav_area">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
											<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
											<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
											<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
											<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
										</ul>
									</li>
									<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Features</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
													<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
												</ul>
											</li>
											<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Support</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
													<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
													<li class="menu-item current-menu-item page-item-18"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
														<ul class="sub-menu">
															<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
															<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
															<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
														</ul>
													</li>
													<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
													<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
													<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
													<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
											<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
											<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
								</ul>
							</nav>
							<div class="search_wrap search_style_expand search_ajax">
								<div class="search_form_wrap">
									<form role="search" method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Search" value="" name="s">
										<button type="submit" class="search_submit icon-search"></button>
									</form>
								</div>
								<div class="search_results widget_area">
									<a href="#" class="search_results_close icon-cancel"></a>
									<div class="search_results_content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.top_panel_navi -->
				<div class="top_panel_title_wrap">
					<div class="content_wrap">
						<div class="top_panel_title">
							<div class="page_title">
								<h1 class="page_caption">Video Tutorials</h1>
							</div>
							<div class="breadcrumbs"><a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Video Tutorials</span></div>
						</div>
					</div>
				</div>
			</header>
			<div class="menu_mobile_overlay"></div>
			<div class="menu_mobile scheme_dark">
				<div class="menu_mobile_inner">
					<a class="menu_mobile_close icon-cancel"></a>
					<a class="logo" href="index.html"><img src="images/logo.png" class="logo_main" alt="" width="197" height="70"></a>
					<nav class="menu_mobile_nav_area">
						<ul id="menu_mobile" class="menu_mobile_nav">
							<li class="menu-item menu-item-has-children"><a href="#"><span>Home</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index.html"><span>Home 1</span></a></li>
									<li class="menu-item"><a href="home-2.html"><span>Home 2</span></a></li>
									<li class="menu-item"><a href="home-3.html"><span>Home 3</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="about-me.html"><span>About</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Services</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="programs.html"><span>Programs</span></a></li>
									<li class="menu-item"><a href="single-services.html"><span>Single Service</span></a></li>
									<li class="menu-item"><a href="trainer-services.html"><span>Trainer Services</span></a></li>
								</ul>
							</li>
							<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#"><span>Features</span></a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-has-children"><a href="#"><span>Tools</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
										</ul>
									</li>
									<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#"><span>Support</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="support.html"><span>Support</span></a></li>
											<li class="menu-item"><a href="customization.html"><span>Customization</span></a></li>
											<li class="menu-item current-menu-item page-item-18"><a href="video-tutorials.html"><span>Video Tutorials</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Pages</span></a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-has-children"><a href="#"><span>Gallery</span></a>
												<ul class="sub-menu">
													<li class="menu-item"><a href="gallery-grid.html"><span>Grid</span></a></li>
													<li class="menu-item"><a href="gallery-cobbles.html"><span>Cobbles</span></a></li>
													<li class="menu-item"><a href="gallery-masonry.html"><span>Masonry</span></a></li>
												</ul>
											</li>
											<li class="menu-item"><a href="our-team.html"><span>Our Team</span></a></li>
											<li class="menu-item"><a href="calculator.html"><span>Calculator</span></a></li>
											<li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
											<li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
							<li class="menu-item menu-item-has-children"><a href="#"><span>Blog</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-classic.html"><span>Excerpt with Sidebar</span></a></li>
									<li class="menu-item"><a href="blog-classic-2-columns.html"><span>Excerpt 2 Columns</span></a></li>
									<li class="menu-item"><a href="blog-classic-3-columns.html"><span>Excerpt 3 Columns</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="shop.html"><span>Store</span></a></li>
						</ul>
					</nav>
					<div class="search_mobile">
						<div class="search_form_wrap">
							<form role="search" method="get" class="search_form" action="#">
								<input type="text" class="search_field" placeholder="Search ..." value="" name="s">
								<button type="submit" class="search_submit icon-search" title="Start search"></button>
							</form>
						</div>
					</div>
					<div class="socials_mobile"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
						</span>
					</div>
				</div>
			</div>
			<div class="page_content_wrap scheme_default">
				<div class="content_wrap">
					<div class="content">
						<div class="post_item_single post_type_page video-tutorials page type-page status-publish hentry">
							<div class="post_content entry-content wrapper">
								<div class=" wpb_row row">
									<div class="wpb_column column_container column-6_12">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<h3>How to Install a Theme</h3>
													</div>
												</div>
												<div id="widget_video_529084209" class="widget_area sc_widget_video vc_widget_video wpb_content_element">
													<aside id="widget_video_529084209_widget" class="widget widget_video">
														<div class="trx_addons_video_player with_cover hover_play"><img src="images/cideoclipart-740x411.jpg" alt="" width="740" height="411">
															<div class="video_mask"></div>
															<div class="video_hover" data-video="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=https://www.youtube.com/embed/M4MTU2G2Hys?feature=oembed&amp;autoplay=1 frameborder=&quot;0&quot; allowfullscreen&gt;"></div>
															<div class="video_embed video_frame"></div>
														</div>
													</aside>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column column_container column-6_12">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<h3>How to Install Dummy Data</h3>
													</div>
												</div>
												<div id="widget_video_113934307" class="widget_area sc_widget_video vc_widget_video wpb_content_element">
													<aside id="widget_video_113934307_widget" class="widget widget_video">
														<div class="trx_addons_video_player with_cover hover_play"><img src="images/cideoclipart2-740x411.jpg" alt="" width="740" height="411">
															<div class="video_mask"></div>
															<div class="video_hover" data-video="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=https://www.youtube.com/embed/MMF-7ECt1IA?feature=oembed&amp;autoplay=1 frameborder=&quot;0&quot; allowfullscreen&gt;"></div>
															<div class="video_embed video_frame"></div>
														</div>
													</aside>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class=" wpb_row">
									<div class="wpb_column column_container">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="vc_empty_space  height_small" style="height: 32px"></div>
												<div class="separator vc_sep_double">
												</div>
												<div class="vc_empty_space  height_small" style="height: 32px"></div>
											</div>
										</div>
									</div>
								</div>
								<div class=" wpb_row row">
									<div class="wpb_column column_container column-6_12">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<h3 class="trx_addons_no_margins">How to Update a Theme</h3>

													</div>
												</div>
												<div id="widget_video_33991472" class="widget_area sc_widget_video vc_widget_video wpb_content_element">
													<aside id="widget_video_33991472_widget" class="widget widget_video">
														<div class="trx_addons_video_player with_cover hover_play"><img src="images/cideoclipart3-740x411.jpg" alt="" width="740" height="411">
															<div class="video_mask"></div>
															<div class="video_hover" data-video="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=https://www.youtube.com/embed/Kk64SN61nxY?feature=oembed&amp;autoplay=1 frameborder=&quot;0&quot; allowfullscreen&gt;"></div>
															<div class="video_embed video_frame"></div>
														</div>
													</aside>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column column_container column-6_12">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<h3 class="trx_addons_no_margins">How to Update Plugins</h3>

													</div>
												</div>
												<div id="widget_video_899565287" class="widget_area sc_widget_video vc_widget_video wpb_content_element">
													<aside id="widget_video_899565287_widget" class="widget widget_video">
														<div class="trx_addons_video_player with_cover hover_play"><img src="images/cideoclipart4-740x411.jpg" alt="" width="740" height="411">
															<div class="video_mask"></div>
															<div class="video_hover" data-video="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=https://www.youtube.com/embed/-MxaYgbFPJE?feature=oembed&amp;autoplay=1 frameborder=&quot;0&quot; allowfullscreen&gt;"></div>
															<div class="video_embed video_frame"></div>
														</div>
													</aside>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class=" wpb_row">
									<div class="wpb_column column_container">
										<div class="inner">
											<div class="wpb_wrapper">
												<div class="vc_empty_space  height_small" style="height: 0px"></div>
												<div class="sc_item_button sc_button_wrap"><a href="https://www.youtube.com/channel/UCBjqhuwKj3MfE3B6Hg2oA8Q/videos" id="sc_button_833334235" class="sc_button sc_button_accent_bg_1 sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">view more videos</span></span><!-- /.sc_button_text --></a>
													<!-- /.sc_button -->
												</div>
												<!-- /.sc_item_button -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- .entry-content -->

						</div>

					</div>
					<!-- </.content> -->

				</div>
				<!-- </.content_wrap> -->
			</div>
			<!-- </.page_content_wrap> -->
			<footer class="site_footer_wrap scheme_dark">
				<div class="footer_wrap widget_area">
					<div class="footer_wrap_inner widget_area_inner">
						<div class="content_wrap">
							<div class="columns_wrap">
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-1-container">
										<ul class="menu">
											<li class="menu-item"><a href="index.html">Home</a></li>
											<li class="menu-item"><a href="about-me.html">About</a></li>
											<li class="menu-item"><a href="trainer-services.html">Services</a></li>
										</ul>
									</div>
								</aside>
								<aside class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-2-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">pages</a></li>
											<li class="menu-item"><a href="events.html">events</a></li>
											<li class="menu-item"><a href="blog-classic.html">blog</a></li>
										</ul>
									</div>
								</aside>
								<aside id="nav_menu-4" class="column-1_4 widget widget_nav_menu">
									<div class="menu-footer-menu-3-container">
										<ul class="menu">
											<li class="menu-item"><a href="#">results</a></li>
											<li class="menu-item"><a href="shop.html">shop</a></li>
											<li class="menu-item"><a href="contacts.html">contact</a></li>
										</ul>
									</div>
								</aside>
								<aside id="trx_addons_widget_socials-3" class="column-1_4 widget widget_socials">
									<div class="socials_description">
										<p>© 2016 Steven Watkins<br />
											<a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></p>
									</div>
									<div class="socials_wrap"><span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_tumblr"><span class="trx_addons_icon-tumblr"></span></a>
										</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a>
										</span>
									</div>
								</aside>
							</div>
							<!-- /.columns_wrap -->
						</div>
						<!-- /.content_wrap -->
					</div>
					<!-- /.footer_wrap_inner -->
				</div>
				<!-- /.footer_wrap -->
			</footer>
			<!-- /.site_footer_wrap -->
		</div>
		<!-- /.page_wrap -->
	</div>
	<!-- /.body_wrap -->
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/shortcodes/shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/swiper/swiper.jquery.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/magnific/jquery.magnific-popup.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.front.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/js/trx_addons.utils.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/trx_addons/widgets/slider/slider.js'></script>
	<script type='text/javascript' src='js/custom/skip-link-focus-fix.js'></script>
	<script type='text/javascript' src='js/custom/superfish.js'></script>
	<script type='text/javascript' src='js/custom/_utils.js'></script>
	<script type='text/javascript' src='js/custom/_init.js'></script>
	<script type='text/javascript' src='js/vendor/includes/theme.hovers/theme.hovers.js'></script>
	<script type='text/javascript' src='js/custom/global.js'></script>
	<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>
</html>
